body {
  font-family: arial,sans serif;
  font-size: 11pt;
  margin: 0;
}
main {
  margin: 8px;
}
header, footer {
  padding: 1em;
  clear: both;
  margin: 0px;
  color: #fff !important;
  background-color: #3a3a3a !important;
}
footer {
  margin-top: 16px !important;
}
footer p:first-child {
  margin-top: 0;
}
footer p:last-child {
  margin-bottom: 0;
}
header a, footer a {
  color: inherit;
}

table {
  font-family: monospace;
  font-size: initial;
  margin-top: 14px;
  border-spacing: 0px;
  border-collapse: collapse;
}
td.rgh {
    text-align: right;
}
thead {
  background-color: lightblue;
}
td, th {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}
table tbody tr:not(.odd):nth-child(even), table tbody tr.even {
  background-color: #ddd;
}
td > p, th > p {
  margin-top:7px;
  margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
  margin-top:0;
}
td > p:last-child, td > p:last-child {
  margin-bottom:0;
}
tr > td.nw {
  white-space: nowrap;
}
code {
  font-size: 1.3em;
}
code.poptag {
  display: inline-block;
  width: 2em;
  text-align: right;
}
th.isSortable {
    cursor: pointer;
}
th.isSortable:after {
  content: "⇳"
}
th.isSortable.isSortedByMe:after {
  content: "⇓"
}
th.isSortable.isSortedByMe.isReversed:after {
  content: "⇑"
}
td code, th {
  white-space: nowrap;
}
tbody tr td {
  vertical-align: top !important;
}
img {
  max-height: 500px;
  max-width: 500px;
}
tr.alq td.id, a.alq {
  background-color: rgb(209, 0, 2);
}
tr.sia td.id, a.sia {
  background-color: rgb(0, 61, 246);
}
tr.alq td.id a, tr.sia td.id a, a.alq, a.sia {
  color: white !important;
}
a.alq, a.sia {
  padding: 5px;
  font-family: monospace;
  font-size: 80%;
}
main > ul, article > ul {
  padding-left: 1em;
  margin-left: 0;
}

td.ascensorFalse {
  color: red;
}

fieldset#zonas > p {
  display: inline-block;
  min-width: 160px;
  margin: 5px;
  padding: 0;
}
a.rss:before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACMUlEQVQ4T5WTW0gUYRTHfzO7O2NrrYbVukQhdHPVDCyyKMgCsSLtKalQiK3AMukhKK2HHnqqXooestgy8qFIgu7ESuWDRdCFirSiJLKIzSjdNS+74870zUhj4gU9MAzfN3N+539uUvigd4UsyxcBv3gmbAa0GpIekDqqfa2Tdf4XRYIWE6CLC8k1Jw9Huh89Gkb78gyjPzoRNYYJEGrAvaaS5PVHBp0SGvG2ZnqbzqB9fjouyAYomYVMyS/HMXM+jrQM2yn29i7d1w+MqcgG/B/GMWsB7lW7SVq2FWQniZ+fiNSVkehsH6HGBqhLNqNmbUD79orYm1voke84Z+eSUl6HnOIj0fGRzrPFI5QM1aBgH8lFh60IxkCcvubz9DSeQJ46g+mV95A96RY4eqVimAob4PRmoixci5JVhCtjufVT/H0jkfqduISS1IqbolcyXbUlaO0vbMioNVBzNjFtyykkxU3vo9P0hI5b56S8UmKt94nWB0YHKP5C0BPEPzxEzS3Bs61WpBPj98mVg6lUhTC0Pn4dy7Hepg0VMXsjnrKgdRm5VC4gD0jdcxvX3KX8uXOUvidB0g49twraFSxFE3MyHLC4GM/2c4OAyzuIvwvhLqgSha0h9voG0at7Sdl1DWXearob9tP/ssEGWKOMJKEKiJmCOTymOcVoK4vWif5/tTqgigKbgxZve8yAaLfZMOlHta9FLEXWuPM6xkdrmcI13nyHIV8QC5E9GYjlrBuBv7XA3MY1VX3bAAAAAElFTkSuQmCC");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 1.2em;
  content:"";
}