<!DOCTYPE HTML>
<html LANG="es">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta http-equiv="Last-Modified" content="{{now.strftime('%Y-%m-%d %H:%M:%S')}}">
    <link rel="alternate" type="application/rss+xml" 
      title="RSS Plan Alquila y Plan Sia" 
      href="./pisos.rss"
    />
    <title>Pisos en Madrid</title>
    <link rel="stylesheet" href="rec/main.css">
    <script type="text/javascript" src="rec/sort_table.js"></script>
    <script type="text/javascript" src="rec/main.js"></script>
    <script type="text/javascript" src="rec/dev.js"></script>
  </head>
  <body>
  <main>
  <p>Puedes suscribirte a este <a href="pisos.rss" class="rss">RSS</a>
    para recibir actualizaciones.</p>
  <p>
    <label for="zona">Zona:</label> <select id="zona">
      <option value="">TODAS ({{pisos | length | millar}})</option>
      {% set zonas = pisos|map(attribute='zona')|unique|sort %}
      {% for z in zonas %}
      {% set zsimplify = z | simplify %}
      {% set count = pisos|map(attribute='zona')|map('simplify')|select("equalto", zsimplify)|list|length %}
      <option value="{{zsimplify}}" data-label="{{z}}" data-count="{{count}}">{{z}} ({{count | millar}})</option>
      {%endfor%}
    </select>
  </p>
  <table>
    <thead>
      <tr class="sortme">
        <th class="isSortable">id</th>
        <th title="Metros útiles" class="isSortable hideIfEQ">M²</th>
        <th class="isSortable">€</th>
        <th title="Dormitorios" class="isSortable hideIfEQ">D</th>
        {#<th title="Aseos" class="isSortable hideIfEQ">A</th>#}
        <th title="Planta" class="isSortable hideIfEQ">P</th>
        <th class="isSortable str hideIfEQ">Dirección</th>
        <th class="isSortable str isSortedByMe isReversed hideIfEQ">Fecha</th>
      </tr>
    </thead>
    <tbody>
    {% for p in pisos|sort(reverse=true, attribute='fecha,plan,id,precio') %}
    <tr class="{{p.plan}}" data-zona="{{p.zona | simplify}}">
      <td data-sortkey="{{p.get_plan_id()}}" 
          class="rgh id" title="{{p.plan}}/{{p.id}}"><a href="{{p.plan}}/{{p.id}}">{{p.id}}</a></td>
      <td class="rgh">{{p.metros | round}}</td>
      <td data-sortkey="{{p.precio}}"
          class="rgh">{{p.precio | millar}}</td>
      <td data-sortkey="{{p.dormitorios}}"
          class="rgh nw" 
          title="{{p.get_dormitorio_title()}}">{%if p.imgs%}📷 {%endif%}{{p.dormitorios}}</td>
      {#<td class="rgh">{{p.aseos}}</td>#}
      <td data-sortkey="{{p.planta}}" title="{{p.get_planta_title()}}"
          class="rgh ascensor{{p.ascensor}}">{{p.planta if p.planta is not none else '¿?'}}</td>
      <td data-sortkey="{{(p.zona or 'z')+'\t'+p.direccion}}"
      ><a href="{{p.mapa}}">{{p.get_direccion()}}</a>, {{p.zona}}</td>
      <td data-sortkey="{{p.fecha}}.{{p.get_plan_id()}}">{{p.fecha}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <fieldset id="leyenda">
    <legend>Leyenda</legend>
    <dl>
      <dt>id</dt>
      <dd>Identificador del piso en el <a class="alq" href="{{URL.alq.home}}">Plan Alquila</a> o <a class="sia" href="{{URL.sia.home}}">Plan Sia</a></dd>
      <dt>M²</dt>
      <dd>Metros cuadrados del piso</dd>
      <dt>€</dt>
      <dd>Precio mensual del alquiler</dd>
      <dt>D</dt>
      <dd>Número de dormitorios (📷 si hay fotos)</dd>
      <dt>P</dt>
      <dd>Planta del piso (en <span class="ascensorFalse">rojo</span> si no hay ascensor)</dd>
      <dt>Fecha</dt>
      <dd>Última fecha de modificación del anuncio</dd>
    </dl>
    {#
    <p>
      Más información en <a href="../faq">Preguntas frecuentes</a>.
    </p>
    #}
  </fieldset>
  </main>
	<footer>
		<p>
		Código fuente en <a href="https://github.com/s-nt-s/plan-alquila-sia">GitHub</a>.
    Si falla o tienes alguna sugerencia pon un <a href="https://github.com/s-nt-s/plan-alquila-sia/issues">issue</a>.
		</p>
	</footer>
  </body>
</html>
