<!DOCTYPE HTML>
<html LANG="es">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta http-equiv="Last-Modified" content="{{p.fecha}}">
    <title>{{p.id}} {{p.plan}}</title>
    <link rel="stylesheet" href="../rec/main.css">
    <script type="text/javascript" src="../rec/dev.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="../">Madrid</a></li>
          <li><a href="../?{{p.zona | simplify}}">{{p.zona}}</a></li>
          <li><code>{{p.plan}}/{{p.id}}</code></li>
        </ul>
      </nav>
      <p>
        Pide una visita u obtén más información preguntando en <a href="{{mail.to_url()}}" title="Pregunta por el piso nº {{p.id}}">{{mail.to}}</a>
      </p>
    </header>
    <main>
      <article>
  <ul>
    <li><strong><a href="{{URL.home}}" target="_blank">{{p.plan.title()}}</a></strong>: {{p.id}}</li>
    <li><strong>Precio</strong>: {{p.precio | millar}} €</li>
    <li><strong>Dormitorios</strong>: {{p.dormitorios}}</li>
    <li><strong>Aseos</strong>: {{p.aseos}}</li>
    <li><strong>Dirección</strong>:
        <a href="{{p.mapa}}">{{p.direccion}}</a>
        ({{(p.zona)}}{%if p.barrio%}, {{p.barrio}}{%endif%})
    </li>
    <li><strong>Planta</strong>: {{p.planta}}</li>
    <li><strong>CEE</strong>: {{p.cee}}</li>
    <li><strong>Orientacion</strong>: {{p.orientacion}}</li>
    <li><strong>M²</strong>: {{p.metros}}</li>
    <li><strong>Públicado</strong>: {{p.publicado}}</li>
    {%if p.modificado %}
    <li><strong>Modificado</strong>: {{p.modificado}}</li>
    {%endif%}
    <li>
    {% for k, v in p.items() %}
    {% if v is true %}<span class="tag">#{{k}}</span>{% endif %}
    {% endfor %}
    {% for k, v in p.items() %}
    {% if v is false %}<span class="tag">#<strike>{{k}}</strike></span>{% endif %}
    {% endfor %}
    </li>
  </ul>
    {% for i in p.imgs %}
    <img src="{{i}}"/>
    {%endfor%}
  </article>
  </main>
	<footer>
		<p>
		Código fuente en <a href="https://github.com/s-nt-s/plan-alquila-sia">GitHub</a>.
    Si falla o tienes alguna sugerencia pon un <a href="https://github.com/s-nt-s/plan-alquila-sia/issues">issue</a>.
		</p>
	</footer>
  </body>
</html>